.mainbody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;
  padding: 20px;
  margin-top: 45vw;
  background-color: #4b1f0e;
}

.category-box {
    
  background: #003344;      
  border: 4px solid #4b1f0e;  
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  color: white;
  min-height: 350px;   
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-box:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.box-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}

.box-img {
  width: 100%;
  height: 200px;
  object-fit: cover;      
  border-radius: 4px;
}

.see-now {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
