.display-items {
  padding: 20px;
  background-color:#4b1f0e;
  margin-top: 550px;
}

.display-header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.back-btn {
  margin-left: 500px;
  margin-top: 150px;
  padding: 8px 16px;
  background: wheat;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  background-color:#4b1f0e ;
}

.display-item {
  background: #003344;
  border: 1px solid black;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color:wheat;
}

.display-item:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.item-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.discount {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.item-name {
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0;
}

.item-rating {
  font-size: 14px;
  color: #ffa500;
}

.item-price {
  font-size: 18px;
  font-weight: bold;
  color: wheat;
}

.display-header{
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .footer-panel1{
  margin-top: 20px;
  background-color:#006A60;
  color: #601E06;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 100%;
 }